In [133]:
# Инициируем сессию
from pyspark.sql import SparkSession

spark = (SparkSession.builder
.master("local[*]")
.appName('PySpark_Tutorial')
.getOrCreate()
)

In [156]:
# Читаем JSON файл со странами
countries_json_file = '../Countries-Cities/world_population.json'
df_countries = spark.read.option('header', True).json(countries_json_file)

In [213]:
# Читаем CSV файл с городами
cities_csv_file = '../Countries-Cities/world_cities.csv'
df_cities = spark.read.option('header', True).csv(cities_csv_file)

In [199]:
# Читаем CSV файл со справочником городов
codes_csv_file = '../Countries-Cities/CountryCodes.csv'
df_codes = spark.read.option('header', True).csv(codes_csv_file)

In [211]:
temp = df_cities.select(
    f.trim(f.col("city_ascii")).alias("city"),
    f.expr("lat").cast("decimal(10,4)").alias("lat"),
    f.expr("lng").cast("decimal(10,4)").alias("lng"),
    f.trim(f.col("country")).alias("country"),
    f.trim(f.col("admin_name")).alias("admin_name"),
    f.trim(f.col("capital")).alias("capital"),
    f.trim(f.col("population")).alias("population"),
    f.trim(f.col("id")).alias("id")                            
)

In [202]:
df_cities.show(3, vertical=True)

-RECORD 0----------------
 city       | Tokyo
 city_ascii | Tokyo
 lat        | 35.6839
 lng        | 139.7744
 country    | Japan
 iso2       | JP
 iso3       | JPN
 admin_name | Tōkyō
 capital    | primary
 population | 39105000
 id         | 1392685764
-RECORD 1----------------
 city       | Jakarta
 city_ascii | Jakarta
 lat        | -6.2146
 lng        | 106.8451
 country    | Indonesia
 iso2       | ID
 iso3       | IDN
 admin_name | Jakarta
 capital    | primary
 population | 35362000
 id         | 1360771077
-RECORD 2----------------
 city       | Delhi
 city_ascii | Delhi
 lat        | 28.6667
 lng        | 77.2167
 country    | India
 iso2       | IN
 iso3       | IND
 admin_name | Delhi
 capital    | admin
 population | 31870000
 id         | 1356872604
only showing top 3 rows

In [190]:
# Подготавливаем датафрейм со странами
from pyspark.sql import functions as f
countryDf = df_countries.select(
    f.trim(f.col("CCA3")).alias("CCA3"),
    f.trim(f.col("Capital")).alias("Capital"),
    f.trim(f.col("Continent")).alias("Continent"),    
    f.trim(f.col("Country/Territory")).alias("Country"),    
    f.expr("`Area (sq mi)` * 2.59").cast("decimal(10,4)").alias("Area (km²)"),
    f.trim(f.col("Population")).cast("decimal(10,0)").alias("Population"),        
    f.expr("`Density (per sq mi)` * 0.3861").cast("decimal(10,4)").alias("Density (per km²)")                            
)

In [197]:
# Подготавливаем датафрейм с городами по странам
citiesDf = df_cities.fillna(0).groupBy("country") \
    .agg(f.count("city_ascii").alias("cities"), f.sum("population").cast("decimal").alias("urban_population"))

In [ ]:
# Готовим результирующую таблицу
resultDf =

In [198]:
citiesDf.show(50, vertical=True)

-RECORD 0--------------------------------
 country          | Côte d'Ivoire
 cities           | 26
 urban_population | 8208356
-RECORD 1--------------------------------
 country          | Chad
 cities           | 30
 urban_population | 2155206
-RECORD 2--------------------------------
 country          | Russia
 cities           | 1505
 urban_population | 109305229
-RECORD 3--------------------------------
 country          | Paraguay
 cities           | 44
 urban_population | 2187731
-RECORD 4--------------------------------
 country          | Anguilla
 cities           | 1
 urban_population | null
-RECORD 5--------------------------------
 country          | Yemen
 cities           | 42
 urban_population | 6639126
-RECORD 6--------------------------------
 country          | Senegal
 cities           | 22
 urban_population | 4368953
-RECORD 7--------------------------------
 country          | Sweden
 cities           | 52
 urban_population | 4075970
-RECORD 8--------------------------------
 country          | Cabo Verde
 cities           | 23
 urban_population | 327474
-RECORD 9--------------------------------
 country          | Kiribati
 cities           | 2
 urban_population | 34875
-RECORD 10-------------------------------
 country          | Guyana
 cities           | 12
 urban_population | 315724
-RECORD 11-------------------------------
 country          | Philippines
 cities           | 1540
 urban_population | 128530179
-RECORD 12-------------------------------
 country          | Eritrea
 cities           | 15
 urban_population | 1341090
-RECORD 13-------------------------------
 country          | Jersey
 cities           | 1
 urban_population | 33522
-RECORD 14-------------------------------
 country          | Djibouti
 cities           | 6
 urban_population | 670959
-RECORD 15-------------------------------
 country          | Tonga
 cities           | 2
 urban_population | 30612
-RECORD 16-------------------------------
 country          | Norfolk Island
 cities           | 1
 urban_population | null
-RECORD 17-------------------------------
 country          | Malaysia
 cities           | 35
 urban_population | 19826363
-RECORD 18-------------------------------
 country          | Singapore
 cities           | 1
 urban_population | 5271000
-RECORD 19-------------------------------
 country          | Fiji
 cities           | 8
 urban_population | 291554
-RECORD 20-------------------------------
 country          | Turkey
 cities           | 351
 urban_population | 32227349
-RECORD 21-------------------------------
 country          | Malawi
 cities           | 29
 urban_population | 3333893
-RECORD 22-------------------------------
 country          | Iraq
 cities           | 44
 urban_population | 19900312
-RECORD 23-------------------------------
 country          | Germany
 cities           | 2643
 urban_population | 67852512
-RECORD 24-------------------------------
 country          | Northern Mariana ...
 cities           | 1
 urban_population | 2500
-RECORD 25-------------------------------
 country          | Comoros
 cities           | 5
 urban_population | 157002
-RECORD 26-------------------------------
 country          | Trinidad And Tobago
 cities           | 18
 urban_population | 302371
-RECORD 27-------------------------------
 country          | Afghanistan
 cities           | 45
 urban_population | 8595633
-RECORD 28-------------------------------
 country          | Cambodia
 cities           | 27
 urban_population | 3154483
-RECORD 29-------------------------------
 country          | Jordan
 cities           | 19
 urban_population | 5924529
-RECORD 30-------------------------------
 country          | Rwanda
 cities           | 15
 urban_population | 1942685
-RECORD 31-------------------------------
 country          | Maldives
 cities           | 21
 urban_population | 133019
-RECORD 32-------------------------------
 country          | Sudan
 cities           | 39
 urban_population | 14733570
-RECORD 33-------------------------------
 country          | Palau
 cities           | 3
 urban_population | 16041
-RECORD 34-------------------------------
 country          | France
 cities           | 2019
 urban_population | 47758000
-RECORD 35-------------------------------
 country          | Turks And Caicos ...
 cities           | 1
 urban_population | 5801
-RECORD 36-------------------------------
 country          | Greece
 cities           | 137
 urban_population | 4660826
-RECORD 37-------------------------------
 country          | Kosovo
 cities           | 47
 urban_population | 303619
-RECORD 38-------------------------------
 country          | Sri Lanka
 cities           | 22
 urban_population | 2318618
-RECORD 39-------------------------------
 country          | Montserrat
 cities           | 1
 urban_population | 391
-RECORD 40-------------------------------
 country          | Taiwan
 cities           | 32
 urban_population | 16291458
-RECORD 41-------------------------------
 country          | Dominica
 cities           | 1
 urban_population | 16582
-RECORD 42-------------------------------
 country          | British Virgin Is...
 cities           | 1
 urban_population | null
-RECORD 43-------------------------------
 country          | Algeria
 cities           | 157
 urban_population | 13468224
-RECORD 44-------------------------------
 country          | Togo
 cities           | 9
 urban_population | 1218460
-RECORD 45-------------------------------
 country          | Equatorial Guinea
 cities           | 14
 urban_population | 565883
-RECORD 46-------------------------------
 country          | South Georgia And...
 cities           | 2
 urban_population | 99
-RECORD 47-------------------------------
 country          | Slovakia
 cities           | 137
 urban_population | 3111867
-RECORD 48-------------------------------
 country          | Reunion
 cities           | 2
 urban_population | 225357
-RECORD 49-------------------------------
 country          | Saint Kitts And N...
 cities           | 1
 urban_population | 13220
only showing top 50 rows

In [186]:
df_countries.show(2, vertical=True)

-RECORD 0------------------------------------
 Area (sq mi)                | 251826.003
 CCA3                        | AFG
 Capital                     | Kabul
 Continent                   | Asia
 Country/Territory           | Afghanistan
 Density (per sq mi)         | 163.321402413
 Population                  | 41128771
 World Population Percentage | 0.52
-RECORD 1------------------------------------
 Area (sq mi)                | 11099.6028
 CCA3                        | ALB
 Capital                     | Tirana
 Continent                   | Europe
 Country/Territory           | Albania
 Density (per sq mi)         | 256.072829298
 Population                  | 2842321
 World Population Percentage | 0.04
only showing top 2 rows

In [146]:
df_countries.printSchema()

root
 |-- Area (sq mi): double (nullable = true)
 |-- CCA3: string (nullable = true)
 |-- Capital: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Country/Territory: string (nullable = true)
 |-- Density (per sq mi): double (nullable = true)
 |-- Population: string (nullable = true)
 |-- World Population Percentage: string (nullable = true)

In [75]:
# Приводим код страны к прописным буквам для JOIN'а с таблицей городов
from pyspark.sql.functions import upper
df_countries = df_countries.withColumn("CCA3", upper(df_countries["CCA3"]))

In [78]:
# Конвертируем квадратные мили в квадратные километры в столбцах с площадью и плотность населения
df_countries = df_countries.withColumn("Density (per km²)", 2.58999 * df_countries["Density (per sq mi)"])
df_countries = df_countries.withColumn("Area (km²)", 2.58999 * df_countries["Area (sq mi)"])

In [111]:
# Выполняем JOIN двух таблиц
merged_df = df_cities.join(df_countries, df_cities.iso3 == df_countries.CCA3, how = 'left')

In [117]:
# Оставляем только необходимые столбцы 
merged_df = merged_df.select("city_ascii","country","lat","lng","population")
# merged_df.withColumn("population", merged_df["population"].cast(int()))
merged_df = merged_df.withColumn("population", merged_df["population"].cast("integer"))

In [119]:
merged_df.show()

+------------+-------------+--------+--------+----------+
|  city_ascii|      country|     lat|     lng|population|
+------------+-------------+--------+--------+----------+
|       Tokyo|        Japan| 35.6839|139.7744|  39105000|
|     Jakarta|    Indonesia| -6.2146|106.8451|  35362000|
|       Delhi|        India| 28.6667| 77.2167|  31870000|
|      Manila|  Philippines| 14.6000|120.9833|  23971000|
|   Sao Paulo|       Brazil|-23.5504|-46.6339|  22495000|
|       Seoul|  South Korea| 37.5600|126.9900|  22394000|
|      Mumbai|        India| 19.0758| 72.8775|  22186000|
|    Shanghai|        China| 31.1667|121.4667|  22118000|
| Mexico City|       Mexico| 19.4333|-99.1333|  21505000|
|   Guangzhou|        China| 23.1288|113.2590|  21489000|
|       Cairo|        Egypt| 30.0444| 31.2358|  19787000|
|     Beijing|        China| 39.9040|116.4075|  19437000|
|    New York|United States| 40.6943|-73.9249|  18713220|
|     Kolkata|        India| 22.5727| 88.3639|  18698000|
|      Moscow|       Russia| 55.7558| 37.6178|  17693000|
|     Bangkok|     Thailand| 13.7500|100.5167|  17573000|
|       Dhaka|   Bangladesh| 23.7289| 90.3944|  16839000|
|Buenos Aires|    Argentina|-34.5997|-58.3819|  16216000|
|       Osaka|        Japan| 34.7520|135.4582|  15490000|
|       Lagos|      Nigeria|  6.4500|  3.4000|  15487000|
+------------+-------------+--------+--------+----------+
only showing top 20 rows

In [130]:
agregate = merged_df.groupBy("country").sum("population") #.sort("population")

In [132]:
agregate.show()

AnalysisException: Column 'population' does not exist. Did you mean one of the following? [sum(population), country];
'Sort ['population ASC NULLS FIRST], true
+- Aggregate [country#3098], [country#3098, sum(population#4617) AS sum(population)#4801L]
   +- Project [city_ascii#3095, country#3098, lat#3096, lng#3097, cast(population#3103 as int) AS population#4617]
      +- Project [city_ascii#3095, country#3098, lat#3096, lng#3097, population#3103]
         +- Project [city_ascii#3095, country#3098, lat#3096, lng#3097, population#3103]
            +- Join LeftOuter, (iso3#3100 = CCA3#3203)
               :- Relation [city#3094,city_ascii#3095,lat#3096,lng#3097,country#3098,iso2#3099,iso3#3100,admin_name#3101,capital#3102,population#3103,id#3104] csv
               +- Project [1970 Population#3043, 1980 Population#3044, 1990 Population#3045, 2000 Population#3046, 2010 Population#3047, 2015 Population#3048, 2020 Population#3049, 2022 Population#3050, Area (sq mi)#3051, CCA3#3203, Capital#3053, Continent#3054, Country/Territory#3055, Density (per sq mi)#3056, Growth Rate#3057, Rank#3058, World Population Percentage#3059, Density (per km²)#3307, (Area (sq mi)#3051 * 2.58999) AS Area (km²)#3326]
                  +- Project [1970 Population#3043, 1980 Population#3044, 1990 Population#3045, 2000 Population#3046, 2010 Population#3047, 2015 Population#3048, 2020 Population#3049, 2022 Population#3050, Area (sq mi)#3051, CCA3#3203, Capital#3053, Continent#3054, Country/Territory#3055, Density (per sq mi)#3056, Growth Rate#3057, Rank#3058, World Population Percentage#3059, (Density (per sq mi)#3056 * 2.58999) AS Density (per km²)#3307]
                     +- Project [1970 Population#3043, 1980 Population#3044, 1990 Population#3045, 2000 Population#3046, 2010 Population#3047, 2015 Population#3048, 2020 Population#3049, 2022 Population#3050, Area (sq mi)#3051, upper(CCA3#3052) AS CCA3#3203, Capital#3053, Continent#3054, Country/Territory#3055, Density (per sq mi)#3056, Growth Rate#3057, Rank#3058, World Population Percentage#3059]
                        +- Relation [1970 Population#3043,1980 Population#3044,1990 Population#3045,2000 Population#3046,2010 Population#3047,2015 Population#3048,2020 Population#3049,2022 Population#3050,Area (sq mi)#3051,CCA3#3052,Capital#3053,Continent#3054,Country/Territory#3055,Density (per sq mi)#3056,Growth Rate#3057,Rank#3058,World Population Percentage#3059] json

23/02/05 16:04:23 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 1444464 ms exceeds timeout 120000 ms
23/02/05 16:04:23 WARN SparkContext: Killing executors is not supported by current scheduler.

In [83]:
merged_df.show(10, vertical=True)

23/02/05 14:41:48 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
-RECORD 0-----------------------------------------
 city                        | Tokyo
 city_ascii                  | Tokyo
 lat                         | 35.6839
 lng                         | 139.7744
 country                     | Japan
 iso2                        | JP
 iso3                        | JPN
 admin_name                  | Tōkyō
 capital                     | primary
 population                  | 39105000
 id                          | 1392685764
 1970 Population             | 105416839
 1980 Population             | 117624196
 1990 Population             | 123686321
 2000 Population             | 126803861
 2010 Population             | 128105431
 2015 Population             | 127250933
 2020 Population             | 125244761
 2022 Population             | 123951692
 Area (sq mi)                | 145919.58877794814
 CCA3                        | JPN
 Capital                     | tokyo
 Continent                   | asia
 Country/Territory           | japan
 Density (per sq mi)         | 126.63197127860761
 Growth Rate                 | 0.9947
 Rank                        | 11
 World Population Percentage | 1.55
 Density (per km²)           | 327.9755392918809
 Area (km²)                  | 377930.27573899785
-RECORD 1-----------------------------------------
 city                        | Jakarta
 city_ascii                  | Jakarta
 lat                         | -6.2146
 lng                         | 106.8451
 country                     | Indonesia
 iso2                        | ID
 iso3                        | IDN
 admin_name                  | Jakarta
 capital                     | primary
 population                  | 35362000
 id                          | 1360771077
 1970 Population             | 115228394
 1980 Population             | 148177096
 1990 Population             | 182159874
 2000 Population             | 214072421
 2010 Population             | 244016173
 2015 Population             | 259091970
 2020 Population             | 271857970
 2022 Population             | 275501339
 Area (sq mi)                | 735358.2019930355
 CCA3                        | IDN
 Capital                     | jakarta
 Continent                   | asia
 Country/Territory           | indonesia
 Density (per sq mi)         | 55.85079692942516
 Growth Rate                 | 1.0064
 Rank                        | 4
 World Population Percentage | 3.45
 Density (per km²)           | 144.65300553924186
 Area (km²)                  | 1904570.3895799418
-RECORD 2-----------------------------------------
 city                        | Delhi
 city_ascii                  | Delhi
 lat                         | 28.6667
 lng                         | 77.2167
 country                     | India
 iso2                        | IN
 iso3                        | IND
 admin_name                  | Delhi
 capital                     | admin
 population                  | 31870000
 id                          | 1356872604
 1970 Population             | 557501301
 1980 Population             | 696828385
 1990 Population             | 870452165
 2000 Population             | 1059633675
 2010 Population             | 1240613620
 2015 Population             | 1322866505
 2020 Population             | 1396387127
 2022 Population             | 1417173173
 Area (sq mi)                | 1269345.5954025732
 CCA3                        | IND
 Capital                     | new delhi
 Continent                   | asia
 Country/Territory           | india
 Density (per sq mi)         | 166.43609222749757
 Growth Rate                 | 1.0068
 Rank                        | 2
 World Population Percentage | 17.77
 Density (per km²)           | 431.0678145082964
 Area (km²)                  | 3287592.3986367104
-RECORD 3-----------------------------------------
 city                        | Manila
 city_ascii                  | Manila
 lat                         | 14.6000
 lng                         | 120.9833
 country                     | Philippines
 iso2                        | PH
 iso3                        | PHL
 admin_name                  | Manila
 capital                     | primary
 population                  | 23971000
 id                          | 1608618140
 1970 Population             | 37435586
 1980 Population             | 48419546
 1990 Population             | 61558898
 2000 Population             | 77958223
 2010 Population             | 94636700
 2015 Population             | 103031365
 2020 Population             | 112190977
 2022 Population             | 115559009
 Area (sq mi)                | 132183.23228348338
 CCA3                        | PHL
 Capital                     | manila
 Continent                   | asia
 Country/Territory           | philippines
 Density (per sq mi)         | 130.32623534175764
 Growth Rate                 | 1.0147
 Rank                        | 13
 World Population Percentage | 1.45
 Density (per km²)           | 337.5436462727988
 Area (km²)                  | 342353.2497818991
-RECORD 4-----------------------------------------
 city                        | São Paulo
 city_ascii                  | Sao Paulo
 lat                         | -23.5504
 lng                         | -46.6339
 country                     | Brazil
 iso2                        | BR
 iso3                        | BRA
 admin_name                  | São Paulo
 capital                     | admin
 population                  | 22495000
 id                          | 1076532519
 1970 Population             | 96369875
 1980 Population             | 122288383
 1990 Population             | 150706446
 2000 Population             | 175873720
 2010 Population             | 196353492
 2015 Population             | 205188205
 2020 Population             | 213196304
 2022 Population             | 215313498
 Area (sq mi)                | 3287956.0203445638
 CCA3                        | BRA
 Capital                     | brasilia
 Continent                   | south america
 Country/Territory           | brazil
 Density (per sq mi)         | 9.762245586803159
 Growth Rate                 | 1.0046
 Rank                        | 7
 World Population Percentage | 2.7
 Density (per km²)           | 25.28411844736431
 Area (km²)                  | 8515773.213132216
-RECORD 5-----------------------------------------
 city                        | Seoul
 city_ascii                  | Seoul
 lat                         | 37.5600
 lng                         | 126.9900
 country                     | South Korea
 iso2                        | KR
 iso3                        | KOR
 admin_name                  | Seoul
 capital                     | primary
 population                  | 22394000
 id                          | 1410836482
 1970 Population             | 32601143
 1980 Population             | 38170501
 1990 Population             | 44120039
 2000 Population             | 46788591
 2010 Population             | 48813042
 2015 Population             | 50994401
 2020 Population             | 51844690
 2022 Population             | 51815810
 Area (sq mi)                | 38691.297307538916
 CCA3                        | KOR
 Capital                     | seoul
 Continent                   | asia
 Country/Territory           | south korea
 Density (per sq mi)         | 199.6426925422934
 Growth Rate                 | 0.9997
 Rank                        | 29
 World Population Percentage | 0.65
 Density (per km²)           | 517.0725772576144
 Area (km²)                  | 100210.07311355272
-RECORD 6-----------------------------------------
 city                        | Mumbai
 city_ascii                  | Mumbai
 lat                         | 19.0758
 lng                         | 72.8775
 country                     | India
 iso2                        | IN
 iso3                        | IND
 admin_name                  | Mahārāshtra
 capital                     | admin
 population                  | 22186000
 id                          | 1356226629
 1970 Population             | 557501301
 1980 Population             | 696828385
 1990 Population             | 870452165
 2000 Population             | 1059633675
 2010 Population             | 1240613620
 2015 Population             | 1322866505
 2020 Population             | 1396387127
 2022 Population             | 1417173173
 Area (sq mi)                | 1269345.5954025732
 CCA3                        | IND
 Capital                     | new delhi
 Continent                   | asia
 Country/Territory           | india
 Density (per sq mi)         | 166.43609222749757
 Growth Rate                 | 1.0068
 Rank                        | 2
 World Population Percentage | 17.77
 Density (per km²)           | 431.0678145082964
 Area (km²)                  | 3287592.3986367104
-RECORD 7-----------------------------------------
 city                        | Shanghai
 city_ascii                  | Shanghai
 lat                         | 31.1667
 lng                         | 121.4667
 country                     | China
 iso2                        | CN
 iso3                        | CHN
 admin_name                  | Shanghai
 capital                     | admin
 population                  | 22118000
 id                          | 1156073548
 1970 Population             | 822534450
 1980 Population             | 982372466
 1990 Population             | 1153704252
 2000 Population             | 1264099069
 2010 Population             | 1348191368
 2015 Population             | 1393715448
 2020 Population             | 1424929781
 2022 Population             | 1425887337
 Area (sq mi)                | 3747878.594987379
 CCA3                        | CHN
 Capital                     | beijing
 Continent                   | asia
 Country/Territory           | china
 Density (per sq mi)         | 56.715820205423675
 Growth Rate                 | 1
 Rank                        | 1
 World Population Percentage | 17.88
 Density (per km²)           | 146.89340717384525
 Area (km²)                  | 9706968.082231361
-RECORD 8-----------------------------------------
 city                        | Mexico City
 city_ascii                  | Mexico City
 lat                         | 19.4333
 lng                         | -99.1333
 country                     | Mexico
 iso2                        | MX
 iso3                        | MEX
 admin_name                  | Ciudad de México
 capital                     | primary
 population                  | 21505000
 id                          | 1484247881
 1970 Population             | 50289306
 1980 Population             | 67705186
 1990 Population             | 81720428
 2000 Population             | 97873442
 2010 Population             | 112532401
 2015 Population             | 120149897
 2020 Population             | 125998302
 2022 Population             | 127504125
 Area (sq mi)                | 758449.4276868253
 CCA3                        | MEX
 Capital                     | mexico city
 Continent                   | north america
 Country/Territory           | mexico
 Density (per sq mi)         | 25.061196127105053
 Growth Rate                 | 1.0063
 Rank                        | 10
 World Population Percentage | 1.6
 Density (per km²)           | 64.90824735724081
 Area (km²)                  | 1964376.4332146004
-RECORD 9-----------------------------------------
 city                        | Guangzhou
 city_ascii                  | Guangzhou
 lat                         | 23.1288
 lng                         | 113.2590
 country                     | China
 iso2                        | CN
 iso3                        | CHN
 admin_name                  | Guangdong
 capital                     | admin
 population                  | 21489000
 id                          | 1156237133
 1970 Population             | 822534450
 1980 Population             | 982372466
 1990 Population             | 1153704252
 2000 Population             | 1264099069
 2010 Population             | 1348191368
 2015 Population             | 1393715448
 2020 Population             | 1424929781
 2022 Population             | 1425887337
 Area (sq mi)                | 3747878.594987379
 CCA3                        | CHN
 Capital                     | beijing
 Continent                   | asia
 Country/Territory           | china
 Density (per sq mi)         | 56.715820205423675
 Growth Rate                 | 1
 Rank                        | 1
 World Population Percentage | 17.88
 Density (per km²)           | 146.89340717384525
 Area (km²)                  | 9706968.082231361
only showing top 10 rows

In [81]:
df_countries.show(10, vertical=True)

-RECORD 0------------------------------------------
 1970 Population             | 10752971
 1980 Population             | 12486631
 1990 Population             | 10694796
 2000 Population             | 19542982
 2010 Population             | 28189672
 2015 Population             | 33753499
 2020 Population             | 38972230
 2022 Population             | 41128771
 Area (sq mi)                | 251827.41086614216
 CCA3                        | AFG
 Capital                     | kabul
 Continent                   | asia
 Country/Territory           | afghanistan
 Density (per sq mi)         | 24.347100184880794
 Growth Rate                 | 1.0257
 Rank                        | 36
 World Population Percentage | 0.52
 Density (per km²)           | 63.0587460078394
 Area (km²)                  | 652230.4758691995
-RECORD 1------------------------------------------
 1970 Population             | 2324731
 1980 Population             | 2941651
 1990 Population             | 3295066
 2000 Population             | 3182021
 2010 Population             | 2913399
 2015 Population             | 2882481
 2020 Population             | 2866849
 2022 Population             | 2842321
 Area (sq mi)                | 11099.664853778353
 CCA3                        | ALB
 Capital                     | tirana
 Continent                   | europe
 Country/Territory           | albania
 Density (per sq mi)         | 38.17399763552374
 Growth Rate                 | 0.9957
 Rank                        | 138
 World Population Percentage | 0.04
 Density (per km²)           | 98.87027213603012
 Area (km²)                  | 28748.020974637395
-RECORD 2------------------------------------------
 1970 Population             | 13795915
 1980 Population             | 18739378
 1990 Population             | 25518074
 2000 Population             | 30774621
 2010 Population             | 35856344
 2015 Population             | 39543154
 2020 Population             | 43451666
 2022 Population             | 44903225
 Area (sq mi)                | 919595.3411890534
 CCA3                        | DZA
 Capital                     | algiers
 Continent                   | africa
 Country/Territory           | algeria
 Density (per sq mi)         | 7.279222605216665
 Growth Rate                 | 1.0164
 Rank                        | 34
 World Population Percentage | 0.56
 Density (per km²)           | 18.853113755285108
 Area (km²)                  | 2381742.737726236
-RECORD 3------------------------------------------
 1970 Population             | 27075
 1980 Population             | 32886
 1990 Population             | 47818
 2000 Population             | 58230
 2010 Population             | 54849
 2015 Population             | 51368
 2020 Population             | 46189
 2022 Population             | 44273
 Area (sq mi)                | 76.83432954994755
 CCA3                        | ASM
 Capital                     | pago pago
 Continent                   | oceania
 Country/Territory           | american samoa
 Density (per sq mi)         | 85.89900436691207
 Growth Rate                 | 0.9831
 Rank                        | 213
 World Population Percentage | 0
 Density (per km²)           | 222.47756232025856
 Area (km²)                  | 199.00014519106864
-RECORD 4------------------------------------------
 1970 Population             | 19860
 1980 Population             | 35611
 1990 Population             | 53569
 2000 Population             | 66097
 2010 Population             | 71519
 2015 Population             | 71746
 2020 Population             | 77700
 2022 Population             | 79824
 Area (sq mi)                | 180.6958101978666
 CCA3                        | AND
 Capital                     | andorra la vella
 Continent                   | europe
 Country/Territory           | andorra
 Density (per sq mi)         | 65.8551671798503
 Growth Rate                 | 1.01
 Rank                        | 203
 World Population Percentage | 0
 Density (per km²)           | 170.56422444414045
 Area (km²)                  | 468.00034145437246
-RECORD 5------------------------------------------
 1970 Population             | 6029700
 1980 Population             | 8330047
 1990 Population             | 11828638
 2000 Population             | 16394062
 2010 Population             | 23364185
 2015 Population             | 28127721
 2020 Population             | 33428485
 2022 Population             | 35588987
 Area (sq mi)                | 481353.5610548724
 CCA3                        | AGO
 Capital                     | luanda
 Continent                   | africa
 Country/Territory           | angola
 Density (per sq mi)         | 11.021903879047905
 Growth Rate                 | 1.0315
 Rank                        | 42
 World Population Percentage | 0.45
 Density (per km²)           | 28.546620827695282
 Area (km²)                  | 1246700.9095965088
-RECORD 6------------------------------------------
 1970 Population             | 6283
 1980 Population             | 6560
 1990 Population             | 8316
 2000 Population             | 11047
 2010 Population             | 13172
 2015 Population             | 14525
 2020 Population             | 15585
 2022 Population             | 15857
 Area (sq mi)                | 35.13529642736295
 CCA3                        | AIA
 Capital                     | the valley
 Continent                   | north america
 Country/Territory           | anguilla
 Density (per sq mi)         | 67.27934360184997
 Growth Rate                 | 1.0066
 Rank                        | 224
 World Population Percentage | 0
 Density (per km²)           | 174.2528271353554
 Area (km²)                  | 91.00006639390577
-RECORD 7------------------------------------------
 1970 Population             | 64516
 1980 Population             | 64888
 1990 Population             | 63328
 2000 Population             | 75055
 2010 Population             | 85695
 2015 Population             | 89941
 2020 Population             | 92664
 2022 Population             | 93763
 Area (sq mi)                | 170.6571540757629
 CCA3                        | ATG
 Capital                     | saint john’s
 Continent                   | north america
 Country/Territory           | antigua and barbuda
 Density (per sq mi)         | 81.90520224916482
 Growth Rate                 | 1.0058
 Rank                        | 201
 World Population Percentage | 0
 Density (per km²)           | 212.13365477331436
 Area (km²)                  | 442.0003224846851
-RECORD 8------------------------------------------
 1970 Population             | 23842803
 1980 Population             | 28024803
 1990 Population             | 32637657
 2000 Population             | 37070774
 2010 Population             | 41100123
 2015 Population             | 43257065
 2020 Population             | 45036032
 2022 Population             | 45510318
 Area (sq mi)                | 1073518.441611428
 CCA3                        | ARG
 Capital                     | buenos aires
 Continent                   | south america
 Country/Territory           | argentina
 Density (per sq mi)         | 6.3198359616703845
 Growth Rate                 | 1.0052
 Rank                        | 33
 World Population Percentage | 0.57
 Density (per km²)           | 16.368311942366677
 Area (km²)                  | 2780402.0285891825
-RECORD 9------------------------------------------
 1970 Population             | 2534377
 1980 Population             | 3135123
 1990 Population             | 3556539
 2000 Population             | 3168523
 2010 Population             | 2946293
 2015 Population             | 2878595
 2020 Population             | 2805608
 2022 Population             | 2780469
 Area (sq mi)                | 11483.83650152809
 CCA3                        | ARM
 Capital                     | yerevan
 Continent                   | asia
 Country/Territory           | armenia
 Density (per sq mi)         | 36.094026697239705
 Growth Rate                 | 0.9962
 Rank                        | 140
 World Population Percentage | 0.03
 Density (per km²)           | 93.48316820558385
 Area (km²)                  | 29743.021700592737
only showing top 10 rows

In [80]:
df_cities.show(10, vertical=True)

-RECORD 0----------------------
 city       | Tokyo
 city_ascii | Tokyo
 lat        | 35.6839
 lng        | 139.7744
 country    | Japan
 iso2       | JP
 iso3       | JPN
 admin_name | Tōkyō
 capital    | primary
 population | 39105000
 id         | 1392685764
-RECORD 1----------------------
 city       | Jakarta
 city_ascii | Jakarta
 lat        | -6.2146
 lng        | 106.8451
 country    | Indonesia
 iso2       | ID
 iso3       | IDN
 admin_name | Jakarta
 capital    | primary
 population | 35362000
 id         | 1360771077
-RECORD 2----------------------
 city       | Delhi
 city_ascii | Delhi
 lat        | 28.6667
 lng        | 77.2167
 country    | India
 iso2       | IN
 iso3       | IND
 admin_name | Delhi
 capital    | admin
 population | 31870000
 id         | 1356872604
-RECORD 3----------------------
 city       | Manila
 city_ascii | Manila
 lat        | 14.6000
 lng        | 120.9833
 country    | Philippines
 iso2       | PH
 iso3       | PHL
 admin_name | Manila
 capital    | primary
 population | 23971000
 id         | 1608618140
-RECORD 4----------------------
 city       | São Paulo
 city_ascii | Sao Paulo
 lat        | -23.5504
 lng        | -46.6339
 country    | Brazil
 iso2       | BR
 iso3       | BRA
 admin_name | São Paulo
 capital    | admin
 population | 22495000
 id         | 1076532519
-RECORD 5----------------------
 city       | Seoul
 city_ascii | Seoul
 lat        | 37.5600
 lng        | 126.9900
 country    | South Korea
 iso2       | KR
 iso3       | KOR
 admin_name | Seoul
 capital    | primary
 population | 22394000
 id         | 1410836482
-RECORD 6----------------------
 city       | Mumbai
 city_ascii | Mumbai
 lat        | 19.0758
 lng        | 72.8775
 country    | India
 iso2       | IN
 iso3       | IND
 admin_name | Mahārāshtra
 capital    | admin
 population | 22186000
 id         | 1356226629
-RECORD 7----------------------
 city       | Shanghai
 city_ascii | Shanghai
 lat        | 31.1667
 lng        | 121.4667
 country    | China
 iso2       | CN
 iso3       | CHN
 admin_name | Shanghai
 capital    | admin
 population | 22118000
 id         | 1156073548
-RECORD 8----------------------
 city       | Mexico City
 city_ascii | Mexico City
 lat        | 19.4333
 lng        | -99.1333
 country    | Mexico
 iso2       | MX
 iso3       | MEX
 admin_name | Ciudad de México
 capital    | primary
 population | 21505000
 id         | 1484247881
-RECORD 9----------------------
 city       | Guangzhou
 city_ascii | Guangzhou
 lat        | 23.1288
 lng        | 113.2590
 country    | China
 iso2       | CN
 iso3       | CHN
 admin_name | Guangdong
 capital    | admin
 population | 21489000
 id         | 1156237133
only showing top 10 rows

In [136]:
cd ../Countries-Cities

/Users/pk/Library/CloudStorage/OneDrive-Личная/GitHub/Countries-Cities